<div>
  <div class="row">
    <div class="col-sm-12 btn btn-primary">
      Welcome to DashBoard
    </div>
  </div>
  <br />

  <div class="container">
    <button class="uploadbutton" (click)="Reset(); open(mymodal)">Add New Customer</button>
    <div style="float:right;">
      <input class="file" type="file" #fileInput />
      <button class="uploadbutton" (click)="uploadFile();">Upload</button>  <!--(change)="handleFileInput($event.target.files)" #fileInput-->
    </div>
    <!--<div style="float:right;">
      <button class="exportbutton" (click)="exporttoExcel();">Export to Excel</button>  
    </div>-->
  </div>
  <br />


  <!--<div>
    <form [formGroup]="uploadform" (ngSubmit)="submitForm()">
      <div class="form-group">
        <input type="file" (change)="uploadFiletest($event)">
      </div>

      <div class="form-group">
        <button class="btn btn-danger btn-block btn-lg">Create</button>
      </div>
    </form>
  </div>-->

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Customer</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="containerMain">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-4">
              <label for="TradingName">Trading Name<span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="tradingName" ng-model="customer.TradingName" [ngClass]="{ 'is-invalid': submitted && f.tradingName.errors }">
              <div *ngIf="submitted && f.tradingName.errors" class="invalid-feedback">
                <div *ngIf="f.tradingName.errors.required">TradingName is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="Depot">Depot<span class="required">*</span></label>
              <ng-select formControlName="depots"
                         bindLabel="name"
                         placeholder="Select Depots"
                         appendTo="body"
                         multiple="true"
                         [(ngModel)]="depotSelected"
                         (change)="getselecteddepotValues()" [ngClass]="{ 'is-invalid': submitted && f.depots.errors }">
                <ng-option [value]="depots[i].id" *ngFor="let depot of depots let i = index">
                  <!--<img src="./assets/{{item.image}}" width="20px" height="20px" />-->
                  {{depots[i].depotName}}
                </ng-option>
              </ng-select>
              <div *ngIf="submitted && f.depots.errors" class="invalid-feedback">
                <div *ngIf="f.depots.errors.required">Depot is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="Group">Group<span class="required">*</span></label>
              <select formControlName="groups" id="groups" ng-model="customer.GroupId" [ngClass]="{ 'is-invalid': submitted && f.groups.errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let group of groups; let i = index" [value]="groups[i].id">
                  {{groups[i].groupName}}
                </option>
              </select>
              <div *ngIf="submitted && f.groups.errors" class="invalid-feedback">
                <div *ngIf="f.groups.errors.required">Group is required</div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="Group">Group<span class="required">*</span></label>
            </div>
            <div class="col-75">
              <select formControlName="groups" id="groups" ng-model="customer.GroupId" [ngClass]="{ 'is-invalid': submitted && f.groups.errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let group of groups; let i = index" [value]="groups[i].id">
                  {{groups[i].groupName}}
                </option>
              </select>
              <div *ngIf="submitted && f.groups.errors" class="invalid-feedback">
                <div *ngIf="f.groups.errors.required">Group is required</div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-6">
              <label for="CoRegisterationNo">Co. Reg. No.</label>
              <input type="text" formControlName="coRegisterationNo" ng-model="customer.CoRegisterationNo" [ngClass]="{ 'is-invalid': submitted && f.coRegisterationNo.errors }">
              <div *ngIf="submitted && f.coRegisterationNo.errors" class="invalid-feedback">
                <div *ngIf="f.coRegisterationNo.errors.required">Co. Reg. No. is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="AccountCode">Account Code<span class="required">*</span></label>
              <input type="text" formControlName="accountCode" ng-model="customer.AccountCode" [ngClass]="{ 'is-invalid': submitted && f.accountCode.errors }">
              <div *ngIf="submitted && f.accountCode.errors" class="invalid-feedback">
                <div *ngIf="f.accountCode.errors.required">Account Code is required</div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-md-6">
              <label for="AccountCode">Account Code<span class="required">*</span></label>
            </div>
            <div class="col-md-6">
              <input type="text" formControlName="accountCode" ng-model="customer.AccountCode" [ngClass]="{ 'is-invalid': submitted && f.accountCode.errors }">
              <div *ngIf="submitted && f.accountCode.errors" class="invalid-feedback">
                <div *ngIf="f.accountCode.errors.required">Account Code is required</div>
              </div>
            </div>
          </div>-->
          <br />
          <div class="row">
            <div class="col-md-4">
              <label for="Address">Address<span class="required">*</span></label>
            </div>
            <div class="col-md-8">
              <input type="text" formControlName="address" ng-model="customer.Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="AddressLine2">Address Line2</label>
              <input type="text" formControlName="addressline2">
            </div>
            <div class="col-md-6">
              <label for="AddressLine3">Address Line3</label>
              <input type="text" formControlName="addressline3">
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="AddressLine3">Address Line3</label>
            </div>
            <div class="col-75">
              <input type="text" formControlName="addressline3">
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-6">
              <label for="County">County</label>
              <input type="text" formControlName="county">
            </div>
            <div class="col-md-6">
              <label for="PostCode">PostCode<span class="required">*</span></label>
              <input type="text" formControlName="postcode" ng-model="customer.Postcode" [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }">
              <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
                <div *ngIf="f.postcode.errors.required">Postcode is required</div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="PostCode">PostCode<span class="required">*</span></label>
            </div>
            <div class="col-75">
              <input type="text" formControlName="postcode" ng-model="customer.Postcode" [ngClass]="{ 'is-invalid': submitted && f.postcode.errors }">
              <div *ngIf="submitted && f.postcode.errors" class="invalid-feedback">
                <div *ngIf="f.postcode.errors.required">Postcode is required</div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-6">
              <label for="DateRequested">Date Requested<span class="required">*</span></label>
              <input type="date" formControlName="dateRequested" [ngModel]="daterequested | date:'yyyy-MM-dd'" [ngClass]="{ 'is-invalid': submitted && f.dateRequested.errors }">
              <div *ngIf="submitted && f.dateRequested.errors" class="invalid-feedback">
                <div *ngIf="f.dateRequested.errors.required">DateRequested is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="RequestedBy">Requested By<span class="required">*</span></label>
              <input type="text" formControlName="requestedby" ng-model="customer.RequestedBy" [ngClass]="{ 'is-invalid': submitted && f.requestedby.errors }">
              <div *ngIf="submitted && f.requestedby.errors" class="invalid-feedback">
                <div *ngIf="f.requestedby.errors.required">Requestedby is required</div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="RequestedBy">Requested By<span class="required">*</span></label>

            </div>
            <div class="col-75">
              <input type="text" formControlName="requestedby" ng-model="customer.RequestedBy" [ngClass]="{ 'is-invalid': submitted && f.requestedby.errors }">
              <div *ngIf="submitted && f.requestedby.errors" class="invalid-feedback">
                <div *ngIf="f.requestedby.errors.required">Requestedby is required</div>
              </div>
            </div>
          </div>-->

          <div class="row">
            <div class="col-md-6">
              <label for="Status">Status<span class="required">*</span></label>
              <select formControlName="status" id="status" ng-model="customer.StatusId" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let sts of status; let i = index" [value]="status[i].id">
                  {{status[i].value}}
                </option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Status is required</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="QueryStatus">QueryStatus<span class="required">*</span></label>
              <select formControlName="querystatus" id="querystatus" ng-model="customer.QueryStatusId" [ngClass]="{ 'is-invalid': submitted && f.querystatus.errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let que of querystatus; let i = index" [value]="querystatus[i].id">
                  {{querystatus[i].question}}
                </option>
              </select>
              <div *ngIf="submitted && f.querystatus.errors" class="invalid-feedback">
                <div *ngIf="f.querystatus.errors.required">QueryStatus is required</div>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="QueryStatus">QueryStatus<span class="required">*</span></label>
            </div>
            <div class="col-75">
              <select formControlName="querystatus" id="querystatus" ng-model="customer.QueryStatusId" [ngClass]="{ 'is-invalid': submitted && f.querystatus.errors }">
                <option value="">-- Select --</option>
                <option *ngFor="let que of querystatus; let i = index" [value]="querystatus[i].id">
                  {{querystatus[i].question}}
                </option>
              </select>
              <div *ngIf="submitted && f.querystatus.errors" class="invalid-feedback">
                <div *ngIf="f.querystatus.errors.required">QueryStatus is required</div>
              </div>
            </div>
          </div>-->


          <div class="row">
            <div class="col-md-6">
              <label for="LegalEntity">Legal Entity</label>
              <input type="text" formControlName="legalEntity" ng-model="customer.LegalEntity">
            </div>
            <div class="col-md-6">
              <label for="Note">Note</label>
              <input type="text" formControlName="notes" ng-model="customer.Note">
            </div>
          </div>

          <!--<div class="row">
            <div class="col-25">
              <label for="Note">Note</label>
            </div>
            <div class="col-75">
              <input type="text" formControlName="notes" ng-model="customer.Note">
            </div>
          </div>-->
          <br />
          <div class="row">

            <input type="hidden" formControlName="id">
            <input type="submit" value="submit">

          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <!--<div class="container">
    <div class="card-footer">
      <div style="text-align:center;font-size:large;font-weight:bold">List of Customers</div>  <div style="float :right">
        <p><input type="text" [(ngModel)]="searchText" placeholder="Free text search"></p>
      </div>
      <div class="col-lg-12 table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Account Code</th>
              <th>Trading Name</th>
              <th>Co.Reg.No</th>
              <th>Address</th>
              <th>Postcode</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of allCustomer | async | filter: searchText">
              <td>{{obj.accountCode}}</td>
              <td>{{obj.tradingName}}</td>
              <td>{{obj.coRegisterationNo}}</td>
              <td>{{obj.address}}</td>
              <td>{{obj.postCode}}</td>

              <td>
                <button type="button" class="btn btn-primary mr-1" (click)="CustomerEdit(obj); open(mymodal)">Edit</button>
                <button type="button" class="btn btn-primary mr-1" (click)="CustomerView(obj); openView(myviewmodal)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>-->
  <div class="container">
    <p-table #tt [columns]="cols" [value]="allCustomers" [paginator]="true" [rows]="10" sortMode="multiple">
      <ng-template pTemplate="caption">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
        <tr>
          <th *ngFor="let col of columns" [ngSwitch]="col.field">
            <!--<input *ngSwitchCase="'vin'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
            <div *ngSwitchCase="'year'">
              {{yearFilter}}
              <i class="fa fa-close" (click)="yearFilter=null;tt.filter(null, col.field, col.filterMatchMode)"></i>
              <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
            </div>
            <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="tt.filter($event.value, col.field, 'equals')"></p-dropdown>-->
            <p-multiSelect *ngSwitchCase="'accountCode'" [options]="optionAccountCodes" defaultLabel="All Account Codes" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>


            <p-multiSelect *ngSwitchCase="'tradingName'" [options]="optionTradingName" defaultLabel="All Trading Name" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>

            <p-multiSelect *ngSwitchCase="'coRegisterationNo'" [options]="optionCoRegNo" defaultLabel="All Co. Reg. No." (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>

            <input *ngSwitchCase="'address'" pInputText type="text" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)">
            <p-multiSelect *ngSwitchCase="'postCode'" [options]="optionPostcode" defaultLabel="All Postcode" (onChange)="tt.filter($event.value, col.field, 'in')"></p-multiSelect>
          </th>
          <th>
            <button class="uploadbutton" (click)="exporttoExcel();">Export to Excel</button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <button type="button" class="btn btn-primary mr-1" (click)="CustomerEdit(rowData); open(mymodal)">Edit</button>
            <button type="button" class="btn btn-primary mr-1" (click)="CustomerView(rowData); openView(myviewmodal)">View</button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>



  <!--/*For customer details view*/-->
  <ng-template #myviewmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View Customer Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="containerMain">
        <div class="row">
          <div class="col-70">
          </div>
          <div class="col-30" style="float:right;">
            <button class="uploadbutton" (click)="AuditView(customerDetails.id); openAuditView(myAuditmodal)">View change Log</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="TradingName"><b>Trading Name : </b></label>
            <label for="TradingNameValue">{{customerDetails.tradingName}}</label>
          </div>
          <div class="col-md-4">
            <label for="Depot"><b>Depots : </b></label>
            <label for="DepotValue">{{customerDetails.depotname}}</label>
          </div>
          <div class="col-md-4">
            <label for="Group"><b>Group : </b></label>
            <label for="GroupValue">{{customerDetails.groupname}}</label>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-25">
            <label for="Depot"><b>Depot : </b></label>
          </div>
          <div class="col-75">
            <label for="DepotValue">{{customerDetails.depotname}}</label>
          </div>
        </div>-->
        <!--<div class="row">
          <div class="col-25">
            <label for="Group"><b>Group : </b></label>
          </div>
          <div class="col-75">
            <label for="GroupValue">{{customerDetails.groupname}}</label>
          </div>
        </div>-->

        <div class="row">
          <div class="col-md-4">
            <label for="CoRegisterationNo"><b>Co. Reg. No. : </b></label>
            <label for="CoRegisterationNoValue">{{customerDetails.coRegisterationNo}}</label>
          </div>
          <div class="col-md-4">
            <label for="AccountCode"><b>Account Code : </b></label>
            <label for="AccountCodeValue">{{customerDetails.accountCode}}</label>
          </div>
          <div class="col-md-4">
            <label for="Address"><b>Address : </b></label>
            <label for="AddressValue">{{customerDetails.address}}</label>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-25">
            <label for="AccountCode"><b>Account Code : </b></label>
          </div>
          <div class="col-75">
            <label for="AccountCodeValue">{{customerDetails.accountCode}}</label>
          </div>
        </div>-->
        <!--<div class="row">
          <div class="col-25">
            <label for="Address"><b>Address : </b></label>
          </div>
          <div class="col-75">
            <label for="AddressValue">{{customerDetails.address}}</label>
          </div>
        </div>-->

        <div class="row">
          <div class="col-md-4">
            <label for="AddressLine2"><b>Address Line2 : </b></label>
            <label for="AddressLine2Value">{{customerDetails.addressline2}}</label>
          </div>
          <div class="col-md-4">
            <label for="AddressLine3"><b>Address Line3 : </b></label>
            <label for="AddressLine3Value">{{customerDetails.addressline3}}</label>
          </div>
          <div class="col-md-4">
            <label for="County"><b>County : </b></label>
            <label for="CountyValue">{{customerDetails.county}}</label>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-25">
            <label for="AddressLine3"><b>Address Line3 : </b></label>
          </div>
          <div class="col-75">
            <label for="AddressLine3Value">{{customerDetails.addressline3}}</label>
          </div>
        </div>-->
        <!--<div class="row">
          <div class="col-25">
            <label for="County"><b>County : </b></label>
          </div>
          <div class="col-75">
            <label for="CountyValue">{{customerDetails.county}}</label>
          </div>
        </div>-->

        <div class="row">
          <div class="col-md-4">
            <label for="PostCode"><b>PostCode : </b></label>
            <label for="PostCodeValue">{{customerDetails.postCode}}</label>
          </div>
          <div class="col-md-4">
            <label for="DateRequested"><b>Date Requested : </b></label>
            <label for="DateRequestedValue">{{customerDetails.dateRequested}}</label>
          </div>
          <div class="col-md-4">
            <label for="RequestedBy"><b>Requested By : </b></label>
            <label for="RequestedByValue">{{customerDetails.requestedBy}}</label>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-25">
            <label for="DateRequested"><b>Date Requested : </b></label>
          </div>
          <div class="col-75">
            <label for="DateRequestedValue">{{customerDetails.dateRequested}}</label>
          </div>
        </div>-->
        <!--<div class="row">
          <div class="col-25">
            <label for="RequestedBy"><b>Requested By : </b></label>
          </div>
          <div class="col-75">
            <label for="RequestedByValue">{{customerDetails.requestedBy}}</label>
          </div>
        </div>-->

        <div class="row">
          <div class="col-md-4">
            <label for="Status"><b>Status</b></label>
            <label for="StatusValue">{{customerDetails.statusvalue}}</label>
          </div>
          <div class="col-md-4">
            <label for="QueryStatus"><b>QueryStatus : </b></label>
            <label for="QueryStatusValue">{{customerDetails.querystatusvalue}}</label>
          </div>
          <div class="col-md-4">
            <label for="LegalEntity"><b>Legal Entity : </b></label>
            <label for="LegalEntityValue">{{customerDetails.legalEntity}}</label>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-25">
            <label for="QueryStatus"><b>QueryStatus : </b></label>
          </div>
          <div class="col-75">
            <label for="QueryStatusValue">{{customerDetails.querystatusvalue}}</label>
          </div>
        </div>-->
        <!--<div class="row">
          <div class="col-25">
            <label for="LegalEntity"><b>Legal Entity : </b></label>
          </div>
          <div class="col-75">
            <label for="LegalEntityValue">{{customerDetails.legalEntity}}</label>
          </div>
        </div>-->

        <div class="row">
          <div class="col-25">
            <label for="Note"><b>Note : </b></label>
          </div>
          <div class="col-75">
            <label for="NoteValue">{{customerDetails.notes}}</label>
          </div>
        </div>


      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>

  <ng-template #myAuditmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Audit History</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="containerMain">

        <div class="col-lg-12 table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Trading Name</th>
                <th>Description </th>
                <th>ModifiedDate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of auditDetails | async ">
                <td>{{obj.customerId}}</td>
                <td>{{obj.lastChangeDescription}}</td>
                <td>{{obj.modifiedDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!--<div class="row">
          <div class="col-40">
            <label for="TradingName"><b>Trading Name : </b></label>
          </div>
          <div class="col-60">
            <label for="TradingNameValue">{{AuditDetails.tradingName}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="Description"><b>Description : </b></label>
          </div>
          <div class="col-75">
            <label for="DescriptionValue">{{AuditDetails.description}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-25">
            <label for="ModifiedDate"><b>ModifiedDate : </b></label>
          </div>
          <div class="col-75">
            <label for="ModifiedDateValue">{{AuditDetails.modifiedDate}}</label>
          </div>
        </div>-->

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait... </p>
</ngx-spinner>
